<div class="container">
  <!-- No data message -->
  <p *ngIf="Unidade.length <= 0" class="no-data text-center">Ainda não existe unidade adicionado!</p>

  <nav *ngIf="Unidade.length > 0" class="navbar navbar-expand-lg navbar-light bg-light">
      <h5 class="my-0 mr-md-auto font-weight-normal">Consulta de Unidades</h5>
      <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/unidades/create">Adicionar Unidade</a>
  </nav>

  <!-- Unidade list -->
  <table class="table table-bordered" *ngIf="Unidade.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col center" width="180">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unidade of Unidade; let i = index">
        <td>{{unidade.nome}}</td>
        <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/unidades/edit/', unidade._id]">
            <button type="button" class="btn btn-success btn-sm">Editar</button>
          </span>
          <span class="delete" (click)="removeUnidade(unidade, i)">
            <button type="button" class="btn btn-danger btn-sm">Excluir</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>